a {
  text-decoration: none;
  color: var(--darkgray);
}

form {
  width: 100% !important;
}

#loginBtn {
  background: linear-gradient(to top right, #E69F9F, #E60000)!important;
}

#registerBtn {
  background: var(--white);
  color: var(--black);
}

.MuiButton-root {
  font-weight: bold !important; 
}

.small-icon {
  width: auto;
  height: auto;
}