/* Global Colors */
:root {
    --primary: #E60000;
    --white: #FBFCFF;
    --black: #090F1A;
    --green: #27AF33;
    --red: #EA1401;
    --yellow: #F7CA18;
    --lightgray: #E5E7EC;
    --gray: #C9CED8;
    --darkgray: #9197A4;
}

/* Global */
/* .SignIn {
    background-color: #F3F3F3;
    height: 100vh;
} */

.MuiGrid2-root {
    font-family: 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.MuiAppBar-colorPrimary {
    background: var(--white) !important;
}